<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title></title>
	</head>
	<body>

		<div id="app">
			<validator name="validation">
				<form novalidate>
					message: <input type="text" v-model="msg" v-validate:message="{required: ture, minlength: 8}" />
					<br />
					<p v-if="$validation.message.required">message不能为空</p>
					<p v-if="$validation.message.minlength">message输入太长位数</p>
				</form>
			</validator>
		</div>

		<script src="//cdn.bootcss.com/vue/1.0.24/vue.js" type="text/javascript" charset="utf-8"></script>
		<script src="//cdn.bootcss.com/vue-validator/2.1.3/vue-validator.js" type="text/javascript" charset="utf-8"></script>
		
		<script type="text/javascript">
		
			var vm = new Vue({
				el: '#app',
				data: {
					msg: ''
				}
			});
			
			setTimeout(function () {
				vm.msg = 'hello world!';
			}, 2000);
			
		</script>
		
	</body>
</html>
