@import "./theme_dark.styl"

danger = #d55
warning = #fd0
blue = #1D8CE0
success = #1c7

light_gray_1 = #ddd
light_gray_2 = #eee
light_gray_3 = #f7f7f7

gray_1 = #666
gray_2 = #999
gray_3 = #ccc

black = #333

row_height_1 = 22px
row_height_1_inner = 20px
row_height_2 = 32px
row_height_2_inner = 28px
